In [7]:
import sqlite3

# Conecta ao banco de dados (ou cria um novo se não existir)
conn = sqlite3.connect('eventos_culturais.db')
cursor = conn.cursor()

# Cria a tabela Eventos
cursor.execute('''
CREATE TABLE IF NOT EXISTS Eventos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    data TEXT NOT NULL,
    local TEXT NOT NULL,
    descricao TEXT,
    organizador TEXT NOT NULL
)
''')

# Cria a tabela Participantes
cursor.execute('''
CREATE TABLE IF NOT EXISTS Participantes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL
)
''')

# Cria a tabela de junção para relacionar Eventos e Participantes (muitos para muitos)
cursor.execute('''
CREATE TABLE IF NOT EXISTS Inscricoes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    id_evento INTEGER NOT NULL,
    id_participante INTEGER NOT NULL,
    data_inscricao TEXT NOT NULL,
    FOREIGN KEY (id_evento) REFERENCES Eventos(id),
    FOREIGN KEY (id_participante) REFERENCES Participantes(id)
)
''')

conn.commit()
print("Tabelas criadas com sucesso!")

Tabelas criadas com sucesso!

In [12]:
# Inserindo eventos
cursor.execute("INSERT INTO Eventos (nome, data, local, descricao, organizador) VALUES (?, ?, ?, ?, ?)",
               ('Oficina de Teatro', '2025-05-10', 'Centro Cultural A', 'Introdução à arte teatral', 'Grupo Arte Viva'))
cursor.execute("INSERT INTO Eventos (nome, data, local, descricao, organizador) VALUES (?, ?, ?, ?, ?)",
               ('Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística'))

# Inserindo participantes
# Check if email already exists before inserting
cursor.execute("SELECT 1 FROM Participantes WHERE email = ?", ('ana.silva@email.com',))
if cursor.fetchone() is None:
    cursor.execute("INSERT INTO Participantes (nome, email) VALUES (?, ?)",
                   ('Ana Silva', 'ana.silva@email.com'))
else:
    print("Email 'ana.silva@email.com' already exists in the database.")

cursor.execute("SELECT 1 FROM Participantes WHERE email = ?", ('pedro.oliveira@email.com',))
if cursor.fetchone() is None:
    cursor.execute("INSERT INTO Participantes (nome, email) VALUES (?, ?)",
                   ('Pedro Oliveira', 'pedro.oliveira@email.com'))
else:
    print("Email 'pedro.oliveira@email.com' already exists in the database.")

cursor.execute("SELECT 1 FROM Participantes WHERE email = ?", ('carla.souza@email.com',))
if cursor.fetchone() is None:
    cursor.execute("INSERT INTO Participantes (nome, email) VALUES (?, ?)",
                   ('Carla Souza', 'carla.souza@email.com'))
else:
    print("Email 'carla.souza@email.com' already exists in the database.")

# Inserindo inscrições
cursor.execute("INSERT INTO Inscricoes (id_evento, id_participante, data_inscricao) VALUES (?, ?, ?)",
               (1, 1, '2025-05-05'))
cursor.execute("INSERT INTO Inscricoes (id_evento, id_participante, data_inscricao) VALUES (?, ?, ?)",
               (1, 2, '2025-05-06'))
cursor.execute("INSERT INTO Inscricoes (id_evento, id_participante, data_inscricao) VALUES (?, ?, ?)",
               (2, 3, '2025-05-12'))

conn.commit()
print("Registros inseridos com sucesso!")

Email 'ana.silva@email.com' already exists in the database.
Email 'pedro.oliveira@email.com' already exists in the database.
Email 'carla.souza@email.com' already exists in the database.
Registros inseridos com sucesso!

In [13]:
# Consulta simples: Listar todos os eventos
cursor.execute("SELECT * FROM Eventos")
eventos = cursor.fetchall()
print("\nLista de Eventos:")
for evento in eventos:
    print(evento)

# Consulta com JOIN: Listar participantes e os eventos em que estão inscritos
cursor.execute('''
SELECT p.nome AS Participante, e.nome AS Evento
FROM Participantes p
JOIN Inscricoes i ON p.id = i.id_participante
JOIN Eventos e ON i.id_evento = e.id
''')
inscricoes = cursor.fetchall()
print("\nParticipantes e suas Inscrições:")
for inscricao in inscricoes:
    print(inscricao)

# Consulta com WHERE: Listar eventos que acontecem após uma determinada data
cursor.execute("SELECT * FROM Eventos WHERE data > '2025-05-12'")
eventos_futuros = cursor.fetchall()
print("\nEventos Futuros (após 2025-05-12):")
for evento in eventos_futuros:
    print(evento)

conn.close()

Lista de Eventos:
(1, 'Oficina de Teatro', '2025-05-10', 'Centro Cultural A', 'Introdução à arte teatral', 'Grupo Arte Viva')
(2, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')
(3, 'Oficina de Teatro', '2025-05-10', 'Centro Cultural A', 'Introdução à arte teatral', 'Grupo Arte Viva')
(4, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')
(5, 'Oficina de Teatro', '2025-05-10', 'Centro Cultural A', 'Introdução à arte teatral', 'Grupo Arte Viva')
(6, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')
(7, 'Oficina de Teatro', '2025-05-10', 'Centro Cultural A', 'Introdução à arte teatral', 'Grupo Arte Viva')
(8, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')
(9, 'Oficina de Teatro', '2025-05-10', 'Centro Cultural A', 'Introdução à arte teatral', 'Grupo Arte Viva')
(10, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')
(11, 'Oficina de Teatro', '2025-05-10', 'Centro Cultural A', 'Introdução à arte teatral', 'Grupo Arte Viva')
(12, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')

Participantes e suas Inscrições:
('Ana Silva', 'Oficina de Teatro')
('Pedro Oliveira', 'Oficina de Teatro')
('Carla Souza', 'Exposição de Pinturas')
('Ana Silva', 'Oficina de Teatro')
('Pedro Oliveira', 'Oficina de Teatro')
('Carla Souza', 'Exposição de Pinturas')
('Ana Silva', 'Oficina de Teatro')
('Pedro Oliveira', 'Oficina de Teatro')
('Carla Souza', 'Exposição de Pinturas')

Eventos Futuros (após 2025-05-12):
(2, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')
(4, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')
(6, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')
(8, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')
(10, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')
(12, 'Exposição de Pinturas', '2025-05-15', 'Galeria B', 'Obras de artistas locais', 'Associação Artística')